<h1>Default content page</h1>

{% for pin in pins %}
   <p>The {{ pins[pin].name }}
   {% if pins[pin].state == true %}
	  is currently <center><div class='pin-toggle' id="{{pin}}">on</div></center>
   {% else %}
	  is currently <center><div class='pin-toggle' id="{{pin}}">off</div></center>
   {% endif %}
   </p>
{% endfor %}

{% if message %}
   <h2>{{ message }}</h2>
{% endif %}


<script type=text/javascript>
 $(function() {
   $('div.pin-toggle').bind('click', function() {

	// var buttonID = this.id;
	// $(this).siblings().removeClass('pin-toggle-on');
	var pinValue = $(this).text();
	var pin = $(this).attr('id');

	if (pinValue === 'on') {
		// var val = 'off'
		$(this).removeClass('pin-toggle-on');
		$(this).text('off');
	}
	else {
		$(this).addClass('pin-toggle-on');
		$(this).text('on');
	}


	$.getJSON($SCRIPT_ROOT + '/changePin', {
		pin: pin,
		action: pinValue
	}, function(data) {

		alert(action);




	});

	 return false;
   });
 });
</script>