<table class='pin-table'>
{% for pin in pins %}
	<tr>
		<td>
			The {{ pins[pin].name }} is currently
		</td>
		<td>
			<center>
				{% if pins[pin].state == true %}
					<div class='pin toggle toggle-on' id="{{pin}}">on</div>
				{% else %}
					<div class='pin toggle' id="{{pin}}">off</div>
				{% endif %}
			</center>
		</td>
	</tr>
{% endfor %}
	<tr>
		<td>
			The camera is currently
		</td>
		<td>
			<center>
				{% if cam_state == true %}
					<div class='cam toggle toggle-on' id='cam'>on</div>
				{% else %}
					<div class='cam toggle' id='cam'>off</div>
				{% endif %}
			</center>
		</td>
	</tr>
	<tr>
		<td>
			PIR
		</td>
		<td>
			<center>
				{% if pir_state == true %}
					<div class='pir toggle toggle-on' id='pir'>
				{% else %}
					<div class='pir toggle' id='pir'>
				{% endif %}
				turn on</div>
			</center>
		</td>
	</tr>
</table>


<script type=text/javascript>


	function togglePin() {
		var pin = $(this).attr('id');
		var button = $(this);

		button.off('click', togglePin);

		if (button.hasClass('toggle-on')) {
			button.removeClass('toggle-on');
			button.text('off');
		} else {
			button.addClass('toggle-on');
			button.text('on');
		}

		$.ajax({
			type: 'POST',
			url: $SCRIPT_ROOT + 'toggle_pin',
			data: {
				pin: pin,
			},
			error: function(response) {
				console.log(response);

				if (button.hasClass('toggle-on')) {
					button.removeClass('toggle-on');
					button.text('off');
				} else {
					button.addClass('toggle-on');
					button.text('on');
				}
			},
			success: function(response) {
				$.each(response, function (index, value) {
					pin = $('#' + index + '.toggle');

					if (value.state) {
						pin.addClass('toggle-on');
						pin.text('on');
					}
					else {
						pin.removeClass('toggle-on');
						pin.text('off');
					}
				});
			},
			complete: function () {
				button.on('click', togglePin);
			}
		});

	}


	function toggleButton(item, state) {
		if (state === 0) {
			item.removeClass('toggle-on');
			item.text('off');
		} else {
			item.addClass('toggle-on');
			item.text('on');
		}
	}

	function toggleVideo() {
		var button = $('div.cam');
		button.off('click', toggleVideo);

		if (button.hasClass('toggle-on')) {
			button.removeClass('toggle-on');
			button.text('off');
		} else {
			button.addClass('toggle-on');
			button.text('on');
		}

		$.ajax({
			type:'GET',
			url: $SCRIPT_ROOT + 'toggle_video',
			error: function(response) {
				console.log(response);
			},
			beforeSend: function () {
				$('#camera-stream').attr('src','http://104.236.114.229/static/img/spinny.gif');
			},

			success: function(response) {
				processState = response.info.state;

				if (processState === 0) {
					button.removeClass('toggle-on');
					button.text('off');
					$('#camera-stream').attr('src','http://104.236.114.229/static/img/off.gif');
				} else {
					button.addClass('toggle-on');
					button.text('on');
					$('#camera-stream').attr('src','http://104.236.114.229:8080/?action=stream');
				}

			},
			complete: function () {
				$('div.cam').on('click', toggleVideo);
			}
		});
	}


	function toggleMotion() {
		var button = $('div.pir');
		button.off('click', toggleMotion);

		if (button.hasClass('toggle-on')) {
			button.removeClass('toggle-on');
			button.text('off');
		} else {
			button.addClass('toggle-on');
			button.text('on');
		}

		$.ajax({
			type:'GET',
			url: $SCRIPT_ROOT + 'toggle_motion',
			error: function(response) {
				console.log(response);
			},
			success: function(response) {
				processState = response.info.state;

				if (processState === 0) {
					button.removeClass('toggle-on');
					button.text('off');
				} else {
					button.addClass('toggle-on');
					button.text('on');
				}
			},
			complete: function () {
				$('div.pir').on('click', toggleMotion);
			}
		});
	}


	$(document).ready(function () {
		$('div.pin').on('click', togglePin);
		$('div.cam').on('click', toggleVideo);
		$('div.pir').on('click', toggleMotion);
	});

</script>
