<h1>Pin Status:</h1>


<table class='pin-table'>
{% for pin in pins %}
	<tr>
		<td>
			The {{ pins[pin].name }} is currently
		</td>
		<td>
			<center>
				{% if pins[pin].state == true %}
					<div class='pin-toggle pin-toggle-on' id="{{pin}}">on</div>
				{% else %}
					<div class='pin-toggle' id="{{pin}}">off</div>
				{% endif %}
			</center>
		</td>
	</tr>
{% endfor %}
</table>


<script type=text/javascript>
	$(function() {
		$('div.pin-toggle').bind('click', function() {

			var pinValue = $(this).text();
			var pin = $(this).attr('id');

			if (pinValue === 'on') {
				$(this).removeClass('pin-toggle-on');
				$(this).text('off');
			}
			else {
				$(this).addClass('pin-toggle-on');
				$(this).text('on');
			}


			$.getJSON($SCRIPT_ROOT + '/changePin', {
				pin: pin,
				action: pinValue
			}, function(data) {

				// alert(action);
			});

		return false;
		});
	});
</script>