<!DOCTYPE html>
<head>
	<title>Current Status</title>
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
	<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}">
	</script>

	<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>

	<table cellspacing=0 cellpadding=0>
		<tr>
			<td>
				{% if current_user.is_authenticated() %}
					<a class='option' href='/logout'>Logout</a>
				{% else %}
					<a class='option' href='/login'>Login</a
				{% endif %}
			</td>
			<td>
				{% include 'menu.html' %}
			</td>
		</tr>

		<tr>
			<td class='info'>
				{% include 'info.html' %}
			</td>
			<td id='content'>
				{% include 'default.html' %}
			</td>
		</tr>
	</table>
<!-- 
	<script type=text/javascript>
		$(function() {
			$('a.menu-button').bind('click', function() {

			var buttonID = this.id;
			$(this).siblings().removeClass('selected-menu-button');
			$(this).addClass('selected-menu-button');

			$.getJSON($SCRIPT_ROOT + '/get_content', {
				id: buttonID
			}, function(data) {
				if (buttonID === 'button1') {
					$("#content").empty();
					$("#content").append(data.result);
				} else {
					$("#content").text(data.result);
				}
			});

			return false;
			});
		});
	</script>

 -->
</body>
</html>